:root {
    --bg-color: hsl(0, 0%, 99%);
    --text: hsl(200, 15%, 8%);
    --elements: hsl(0, 100%, 100%);
    --input: hsl(0, 0%, 50%);
}

.dark {
    --bg-color: hsl(207, 26%, 17%);
    --text: hsl(0, 100%, 100);
    --elements: hsl(209, 23%, 22%);
    --input: hsl(0, 100%, 100);
}

@font-face {
    font-family: "Nunito Sans";
    src: url("./assets/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf")
        format("truetype");
    font-style: normal;
    font-weight: 100 900;
}

body {
    background-color: var(--bg-color);
    color: var(--text);
}
