@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "Nunito Sans";
    src: url("./assets/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf")
        format("truetype");
    font-style: normal;
    font-weight: 100 900;
}

:root {
    --font-main-font: "Nunito Sans", sans-serif;

    --background: hsl(0 0% 99%);
    --color-main-text: hsl(200 15% 8%);
    --color-element: hsl(0 100% 100%);
    --color-input: hsl(0 0% 50%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: hsl(207 26% 17%);
        --color-main-text: hsl(0 100% 100%);
        --color-element: hsl(209 23% 22%);
        --color-input: hsl(0 100% 100%);
    }
}

@theme inline {
    --color-background: var(--background);
    --color-element: var(--color-element);
    --color-input: var(--color-input);
    --color-main-text: var(--color-main-text);
}

body {
    background-color: var(--color-background);
    color: var(--color-main-text);
    font-family: var(--font-main-font);
}
